body{
	margin:0;
	padding:0;
	height:1140px;
}

#flashcardapp{
	width: 90%;
	height: 100%;
	padding:10px;
	margin:0 auto;
}

#individualCards{
	width: 70%;
	float:left;
}

#theCards{
	float:left;
	padding:20px;
}

#theStoplight{
	float:right;
	background-color: #f7f7f7;
	width:100px;
}

.light{
	height:55px;
	width: 55px;
	padding:5px;
	background-color:#ccc;
	margin:10px auto;
	border-radius:35px;
	text-align:center;
}

#cardDeckOptions{
	background-color: #ccc;
	float: right;
	width:25%;
	height: 100%;
	padding:10px;
}

#theDecks{
	
}


